<launch>

  <!-- Front K79 Interface Node -->
  <node name="k79_front" pkg="radar_ros_interface" type="k79_node" output="screen" required="true" >
    <param name="host_ip" value="10.0.0.75" />
    <param name="host_port" value="1026" />
    <param name="radar_ip" value="10.0.0.12" />
    <param name="radar_port" value="7" />
    <param name="frame_id" value="map" />
  </node>

  <!-- Run the usb_cam for /dev/video1 -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
    <param name="framerate" value="30" />
  </node>

    <!-- Record the sensor data -->
    <node name="recorder" pkg="rosbag" type="record" args="/k79_front/data /cam0/camera_info /cam0/image_raw -o /home/nvidia/bagfiles/cart_k79_and_camera" />

    <!-- Load the rviz configuration -->
    <arg name="rvizconfig" default="$(find radar_slam)/rviz/cart_k79_and_camera.rviz" />

  <!-- Run rviz -->
  <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(arg rvizconfig)" />

</launch>
