<launch>  

  <!-- args to be optionally set by launch files including this one -->
  <arg name="is_offline" default="true" />
  <arg name="rosbag_name" default="long.bag" />
  <arg name="use_cameras" default="false" />
  <arg name="use_piksi_gps" default="false"  />
  <arg name="use_panda" default="false"  />
  <arg name="use_radars" default="false"  />

  <!-- Nodes common to ONLINE and OFFLINE testing -->
  <!-- Load URDF, robot state and joint state publishers -->
  <include file="$(find radar_slam)/launch/robot_interface.launch" />

  <!-- TF broadcaster for base_link from integrated GPS data -->
  <node name="gps_base_tf_broadcaster" output="screen" pkg="radar_slam" type="gps_base_tf_broadcaster_node" >
    <param name="gps_vel_lpf" value="0.1" />
    <param name="integration_rate" value="10.0" />
  </node>

  <!-- Run the radar data to point cloud nodes -->
  <include file="$(find radar_slam)/launch/radardata_to_pointcloud.launch" />

  <!-- Aggregate the point cloud scans -->
  <node name="radar_point_cloud_assembler" pkg="laser_assembler" type="point_cloud_assembler" >
    <remap from="cloud" to="radardata_to_pointcloud_rear_left/cloud" />
    <param name="fixed_frame" value="map" />
  </node>
  
  <!-- Run the radar data to point cloud nodes -->
  <include file="$(find radar_slam)/launch/radardata_to_laserscan.launch" />
  
  <!-- Nodes to run only for ONLINE testing -->
  <group unless="$(arg is_offline)" >
    
    <!-- Run the camera nodes for collecting video -->
    <group if="$(arg use_cameras)" >
      <include file="$(find radar_slam)/launch/cameras.launch" />
    </group>

    <!-- Run the Piksi Multi rover ROS node -->
    <group if="$(arg use_piksi_gps)" >
      <include file="$(find piksi_multi_rtk_ros)/launch/piksi_multi_rover.launch" />
    </group>
    
    <!-- Run the node to publish car data messages from Panda dongle -->
    <group if="$(arg use_panda)" >
      <include file="$(find car_data_interface)/launch/run_car_data_pub.launch" />
    </group>
    
    <!-- Run the radar interface nodes -->
    <group if="$(arg use_radars)" >
      <include file="$(find radar_slam)/launch/radar_interfaces.launch" />
    </group>
    
    <!-- Record the sensor data -->
    <node name="recorder" pkg="rosbag" type="record" args="/k79_front_left/data /k79_front_right/data /k79_rear_left/data /k79_rear_right/data /piksi/vel_ned /car_data /usb_cam/camera_info /usb_cam/image_raw/compressed -o /home/nvidia/bagfiles/gps_pose_est" />
  
  </group>

  <!-- Nodes to run only for OFFLINE testing -->
  <group if="$(arg is_offline)" >

    <!-- Set to use simulated time -->
    <param name="use_sim_time" value="true" />	  

    <!-- Run the node to publish recorded bagfile -->
    <node pkg="rosbag" type="play" name="player" output="screen" args="--rate=2.0 --clock /home/nrotella/bagfiles/$(arg rosbag_name)" />
 
  </group>

  <!-- Load the rviz configuration -->
  <arg name="rvizconfig_gps_pose_est" default="$(find radar_slam)/rviz/gps_pose_est.rviz" />

  <!-- Run rviz -->
  <node name="rviz_gps_pose_est" pkg="rviz" type="rviz" output="screen" args="-d $(arg rvizconfig_gps_pose_est)" />

</launch>
