]<launch>  
  <!-- Run the usb_cam node for capturing webcam footage -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video1" />
  </node>

  <!-- Run the node to publish car data messages -->
  <node name="car_data_pub_node" pkg="car_data_interface" type="car_data_pub_node" launch-prefix="sudo -E PYTHONPATH=$(env PYTHONPATH)" />
  
  <!-- Load YAML params and run the node to estimate the car pose and publish it -->
  <rosparam command="load" file="$(find radar_slam)/config/gps_pose_est.yaml" />
  <node name="gps_base_tf_broadcaster_node" output="screen" pkg="radar_slam" type="gps_base_tf_broadcaster_node" />

  <!-- Run the radar interface node for the K79 with GPS and visualize data -->
  <node name="radar_node_front_right" pkg="radar_ros_interface" type="radar_node_k79_gps" args="--ip 10.0.0.75 --port 1024 --name front_right_radar --frame front_right_radar_link" output="screen" required="true" />
  <node name="data_viz_node_front_right" output="screen" pkg="radar_ros_interface" type="radar_data_viz_point_cloud_node" args="--topic front_right_radar_data" />

  <!-- Run the radar interface node for the K79 without GPS -->
  <node name="radar_node_front_left" pkg="radar_ros_interface" type="radar_node_k79" args="--ip 10.0.0.75 --port 1025 --name front_left_radar --frame front_left_radar_link" output="screen" required="true" />
  <node name="data_viz_node_front_left" output="screen" pkg="radar_ros_interface" type="radar_data_viz_point_cloud_node" args="--topic front_left_radar_data" />

  <!-- Load the car URDF for visualization and publish robot states -->
  <arg name="model" default="$(find radar_slam)/urdf/car_gps_test.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Load the rviz configuration -->
  <arg name="rvizconfig_gps_pose_est" default="$(find radar_slam)/rviz/gps_pose_est.rviz" />

  <!-- Run rviz -->
  <node name="rviz_gps_pose_est" pkg="rviz" type="rviz" args="-d $(arg rvizconfig_gps_pose_est)" required="true" />
</launch>
