<launch>  
  <node name="gps_base_tf_broadcaster_node" output="screen" pkg="radar_slam" type="gps_base_tf_broadcaster_node" />

  <!-- Run the radar interface node for the K79 with GPS -->
  <node name="radar_node_k79_gps" pkg="radar_ros_interface" type="radar_node_k79_gps" args="--ip 10.0.0.75 --port 1024 --frame front_right_radar_link" output="screen" required="true" />

  <!-- Load the car URDF for visualization and publish robot states -->
  <arg name="model" default="$(find radar_slam)/urdf/car_gps_test.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Load the rviz configuration -->
  <arg name="rvizconfig_gps_pose_est" default="$(find radar_slam)/rviz/gps_pose_est.rviz" />

  <!-- Run rviz -->
  <node name="rviz_gps_pose_est" pkg="rviz" type="rviz" args="-d $(arg rvizconfig_gps_pose_est)" required="true" />
</launch>
