<launch>

  <!-- Front Left K79 RadarData to Pointcloud Node -->
  <node name="radardata_to_pointcloud_front_left" pkg="radar_ros_interface" type="radardata_to_pointcloud_node" output="screen" >
    <remap from="radardata_in" to="/k79_front_left/data" />
    <remap from="radar_vel" to="/gps_base_tf_broadcaster/car_vel" />
    <param name="max_speed_thresh" value="2.0" />
    <param name="min_dist_thresh" value="2.0" />
    <param name="max_dist_thresh" value="15.0" />
    <param name="compute_3d" value="false" />
    <param name="is_rotated" value="false" />
  </node>

  <!-- Front Right K79 RadarData to Pointcloud Node -->
  <node name="radardata_to_pointcloud_front_right" pkg="radar_ros_interface" type="radardata_to_pointcloud_node" output="screen" >
    <remap from="radardata_in" to="/k79_front_right/data" />
    <remap from="radar_vel" to="/gps_base_tf_broadcaster/car_vel" />
    <param name="max_speed_thresh" value="2.0" />
    <param name="min_dist_thresh" value="2.0" />
    <param name="max_dist_thresh" value="15.0" />
    <param name="compute_3d" value="false" />
    <param name="is_rotated" value="false" />
  </node>
  
</launch>
