<launch>  
  <!-- Set to use simulated time -->
  <param name="use_sim_time" value="true" />

  <!-- Load YAML params and run the node to estimate the car pose and publish it -->
  <rosparam command="load" file="$(find radar_slam)/config/radar_slam.yaml" />
  <node name="base_tf_broadcaster_node" output="screen" pkg="radar_slam" type="base_tf_broadcaster_node" />

  <!-- Run the radar interface test node for processing CAN data into radar messages and visualization markers -->
  <node name="radar_ros_interface_test_node" pkg="radar_ros_interface" type="radar_ros_interface_test_node" />

  <!-- Load the car URDF for visualization and publish robot states -->
  <arg name="model" default="$(find radar_slam)/urdf/car.urdf"/>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(arg model)" />
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Load the rviz configuration -->
  <arg name="rvizconfig_test_car_pose_est" default="$(find radar_slam)/rviz/test_car_pose_est.rviz" />

  <!-- Run rviz -->
  <node name="rviz_test_car_pose_est" pkg="rviz" type="rviz" args="-d $(arg rvizconfig_test_car_pose_est)" required="true" />

  <!-- Run the node to publish car data messages -->
  <node pkg="rosbag" type="play" name="player" args="--clock $(env HOME)/bagfiles/gps_k79_data_12_19_2018.bag"/>

</launch>
