<launch>
  
  <!-- Run the usb_cam for /dev/video0 -->
  <node name="usb_cam0" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video0" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
  </node>

  <!-- Run the usb_cam for /dev/video1 -->
  <node name="usb_cam1" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video1" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
  </node>

  <!-- Run the usb_cam for /dev/video2 -->
  <node name="usb_cam2" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video2" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
  </node>

  <!-- Run the usb_cam for /dev/video3 -->
  <node name="usb_cam3" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video3" />
    <param name="image_width" value="1920" />
    <param name="image_height" value="1080" />
  </node>

</launch>
