<launch>  
  <!-- Run the usb_cam node for capturing webcam footage -->
  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
      <param name="video_device" value="/dev/video0" />
      <param name="image_width" value="1920" /> <!--1920" /> -->
      <param name="image_height" value="1080" /> <!-- 1080" /> -->
      <param name="pixel_format" value="yuyv" />
  </node>  
</launch>
